
.container {
    width: 1170px;
    text-align:center;
}
.headerLogoH1 {
	font-family : ¿¬Ìå;
	font-size: 40px;
	line-height: 1.2em;
	color: #FFF;
	margin-top: 24px;
	float: center;
	 margin-top: 4em; 
}
.log{
	font-size: 80px;     
}
#submit-button {
    width: 350px;
}
#zuce-button{
	width: 350px;
}
#kankan-button{
	width: 350px;
}
.footer {
	width: 1000px;
	height: 50px;
	margin: 50px auto 20px;
	clear: both;
	color: rgb(110, 110, 110);
	
}
#label{
	color: white;
}
#check{
	float: left;
}
#ys{
	color: #d9534f;
}
#tishi{
	color: red;
	margin-left:2cm;
}
